.main {
  width: 100%;
  height: 60vh;
  position: relative;
}

.header,
.content {
  text-align: center;
  font-weight: bolder;
  font-size: 5em;
  color: white;
  position: relative;
  top: 30vh;
}

.content p {
  color: green;
  display: inline-block;
}
